*{
    margin: auto;
    padding: auto;
}
body {
    background-color: #e0e0e0;
}

header {
    background-color: rosybrown;
}
.main-img{
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin: 2% auto;
}

.main-details{
    margin: 2%;
    
}

.main-tarrif{
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2%;
}
footer {
    background-color: rosybrown;
}
footer img{
   height: 20px;
   width: 22px;
}

